.Order{
    width: 40%;
    margin: 16px auto;
    border: 2px solid #eee;
    box-shadow : 0 2px 3px #ccc;
    padding: 30px;
    text-align: center;
}

.Order table{
    margin: auto;
    padding: 5px;
    border: 2px solid grey;
}

.Order th{
    padding: 10px;
}

.Order td{
    padding: 2px;
}

.Order .Total{
    color: royalblue;
    font-weight: bolder;
    margin: 10px;
    
    }

.Order p{
    margin: 10px;
    font-weight: 400;
    }