.Cart{
    width: auto;
    margin: 0 auto;
    border: 2px solid #eee;
    box-shadow : 0 2px 3px #ccc;
    padding: 50px;
    text-align: center;
}
.Cart h3{
    margin: 10px;
}

.Cart li{
    list-style: none;
}

.Cart .Heading li
{
display: inline-block;
padding: 0px 70px;
margin-top: 20px;

}

.Cart .Submit{
    color: white;
    font-size: large;
    background-color: seagreen;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.Cart .Total{
color: royalblue;
font-weight: bolder;
margin: 10px;
}

.Cart .Submit:disabled{
    background-color: #ccc;
    color: black;
    cursor: not-allowed;
}