.Logout{
    padding-top: 50px;
}

.Logout p{
    margin: 5px;
    font-weight: 600;
}
.Logout button{
    width: 130px;
    margin: 8px;
    padding: 4px;
    border-radius: 5px;
    font-size: medium;
    font-weight: bolder;
    color: white;

}