.Header{
    width: 100%;
    background-color : blanchedalmond;
    padding: 4px 0px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: 0px;
    vertical-align: top;
}

.Title{
    display: inline-block;
    padding: 5px;
    vertical-align: middle;

}

.Nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 235px);
    vertical-align: middle;
}
.Ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.Li{
    display: inline-block;
    padding: 0px 5px;
    font-size: large;
    font-weight: bold;
}

.Header h3{
    margin: 0;
    color:firebrick;
    font-style: italic;
    float: left;
    margin: 0;
    padding: 0;
    vertical-align: middle;

}

.Nav  {
    display: inline-block;
}

.Header a{
    text-decoration: none;
    padding: 5px;
}
.Header a:active,
.Header a.active{
    background-color: sandybrown;
    color: darkslateblue;
    border-bottom: 2px solid darkred;
    border-radius: 8px;
}

.Header a:hover {
    background-color: sandybrown;
    color: teal;
    border-radius: 8px;
    
}

.Header img {
    width: 40px;
    height: 25px;
    float: left;
    vertical-align: middle;

}

